{% extends 'layouts/base.html.twig' %}

{% block title %} France Immo - Properties{% endblock %}

{% block body %}
    <main id="main">
    {#intro single#}
        {{ include('property/partials/_intro_single.html.twig')}}
    </main>
{% endblock %}
